<div class="app-content" >


    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">{{$root.translation.BILLDETAILS_TITLE}}</h1>
    </div>
    <div class="wrapper-md">

    
        <div class="panel panel-default" ng-init="getInitBillComments()">
          <div class="panel-heading" style="height: 54px;">
            <label style="margin-top: 5px; margin-left: 20px; font-size: 20px;">{{ $root.selected_bill.title }}</label>
            <!--button type="button" class="btn btn-info" style="margin-right:10px; float: right;" ng-click="newBillComment()" >New Comment</button-->
          </div>
    
          <div class="table-responsive">
            <p style="margin-left: 30px; margin-top: 10px;" ng-bind-html="details_title"></p>

            <!--table class="table table-striped b-t b-light">
              <thead>
                <tr>
                  <th style="width: 4%;">번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th style="width: 6%;">작성일</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="one_comment in showComments">
                  <td>{{ one_comment.showNumber }}</td>
                  <td>{{ one_comment.contents }}</td>
                  <td>{{ one_comment.user_name }}</td>
                  <td>{{ one_comment.time.split(' ')[0] }}</td>
                </tr>
              </tbody>
            </table-->
          </div>


          <footer class="panel-footer">



            <div class="streamline b-l b-info m-l-lg m-b padder-v" style="margin-left:0px;">
              <!-- .a message -->
              <div class="m-l-lg" ng-repeat="one_comment in showComments">
                <a class="pull-left thumb-sm avatar">
                  <span class="text-muted m-l-sm pull-right">
                    <p>{{ one_comment.time.split(' ')[0] }}<br>
                    {{ one_comment.time.split(' ')[1] }}</p>
                  </span>
                  </a>
                <div class="m-l-xxl panel b-a">
                  <div class="panel-heading pos-rlt">
                    <span class="arrow left pull-up"></span>
                    <!--button class="close" style="line-height: 0;">
                      <span style="font-size:25px;">&times;</span>
                    </button-->
                    <label style="font-size: 15px;">< {{ one_comment.user_name }} > says : </label><br/>
                    <label style="font-size: 18px;">{{ one_comment.contents }}</label>
                  </div>
                </div>
                <!--div class="m-l-xxl panel b-a">
                  <div class="panel-heading pos-rlt">
                    <span class="arrow left pull-up"></span>
                    당신이 {{game_record.gamename}}에서 ${{game_record.money}}   {{ game_record.type }}습니다.
                  </div>
                </div-->
              </div>
              <!-- / .a message -->
            </div>

            <textarea class="form-control" placeholder={{$root.translation.BILLDETAILS_TEXT}} rows="40" cols="50" style="height: 200px; padding-top: 10px; width: 50%; padding-left: 25px; margin-left: 30px;"  ng-model="comment_content" ng-show="$root.is_logged" required></textarea>
            <button type="button" class="btn btn-info" style="margin-left: 45px; margin-top: 10px;" ng-click="sendNewBillComment()" ng-show="$root.is_logged" >{{$root.translation.BILLDETAILS_BUTTON}}</button>


            <div class="row">
              <div class="col-sm-4 hidden-xs">
                                 
              </div>
              <div class="col-sm-4 text-center">
                  <!--ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" ng-change="onChangeBillBoard_Number()"></ul-->
              </div>
              <div class="col-sm-4 text-right text-center-xs">                
               
              </div>
            </div>
          </footer>
        </div>

          <div style="background: #271e1f; width: 100%; height: 300px; margin-top: 50px;">
            <div style="display: table; margin: 0 auto; color: #c0bebe; padding-top: 28px; padding-right: 30px; padding-left: 30px;">
              <p>{{$root.translation.ABOUT_US_TITLE}}<br/>
              {{$root.translation.ABOUT_US_CONTENT1}}<br/>
              {{$root.translation.ABOUT_US_CONTENT2}}<br/>
              {{$root.translation.ABOUT_US_CONTENT3}}<br/>
              {{$root.translation.ABOUT_US_CONTENT4}}<br/>
              {{$root.translation.ABOUT_US_CONTENT5}}<br/>
              </p>
            </div>
            <center>
              <img src="img/footerLogo.png" />
            </center>
            <div style="display: table; margin: 0 auto; color: #c0bebe; text-align: center;">
              <p>{{$root.translation.ABOUT_US_CONTENT6}}<br/>
              {{$root.translation.ABOUT_US_CONTENT7}}<br/>
              </p>
            </div>
          </div>
      
    </div>


</div>