<div class="app-content" >

  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{$root.translation.MESSAGE_TITLE}}<!-- <span class="badge">16</span> --></h1>
  </div>

  <div class="wrapper-md">
    <div class="row" ng-init="getRechargeMessage(1, 10)">
   
      <div class="col-lg-9">
        <!-- tab -->
        <ul class="nav nav-tabs" style="max-height:40px!important;">
          <li class="active" ng-click="getRechargeMessage(1, num_per_page)"> <a  data-toggle="tab" data-target="#a">{{$root.translation.MESSAGE_RECHARGE}}</a></li>
          <li ng-click="getWithdrawalsMessage(1, num_per_page)"><a  data-toggle="tab" data-target="#b">{{$root.translation.MESSAGE_WITHDRAW}}</a></li>
          <li ng-click="getSystemMessage(1, num_per_page)"><a  data-toggle="tab" data-target="#c">{{$root.translation.MESSAGE_SYSTEM}}</a></li>
          <li ng-click="getOtherMessage(1, num_per_page)"><a  data-toggle="tab" data-target="#d">{{$root.translation.MESSAGE_OTHERS}}</a></li>
          <li ng-click="getQuestionMessage(1, num_per_page)"><a  data-toggle="tab" data-target="#e">{{$root.translation.MESSAGE_OPINION}}</a></li>
          <div class="col-sm-6" style="float: right;">
            <select name="per_page" ng-model="num_per_page" ng-init="num_per_page = '10'" ng-change="onChangeNum_perPage(1)" style="margin-top: 8px; float: right;">
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select> 
            <label style="margin-top: 8px; margin-right: 10px; float: right;">{{$root.translation.MESSAGE_ITEM_PAGE}} : </label>
            <button type="button" class="btn btn-info" style="margin-right:20px; float: right;" ng-click="newQuestion()" >{{$root.translation.MESSAGE_NEW_OPNION}}</button>
          </div>
   　　   </ul>
   
        <div class="tab-content" style="margin-top:20px;">

              <div class="panel" style="background: transparent;" ng-show="flag_page == 1">
                    <div class="padder">      
                      <div class="streamline b-l b-info m-l-lg m-b padder-v" style="margin-left:0px;">
                       
                        <!-- .a message -->
                        <div class="m-l-lg" ng-repeat="charge_msg in messageList">
                          <a class="pull-left thumb-sm avatar">
                            <span class="text-muted m-l-sm pull-right">
                              <p>{{ charge_msg.time.split(' ')[0] }}<br>
                              {{ charge_msg.time.split(' ')[1] }}</p>
                            </span>
                          </a>          
                          <div class="m-l-xxl panel b-a">
                            <div class="panel-heading pos-rlt">
                              <span class="arrow left pull-up"></span>
                              <!--button class="close" style="line-height: 0;">
                                <span style="font-size:25px;">&times;</span>
                              </button-->
                              {{ charge_msg.message }}
                            </div>
                          </div>
                        </div>
                        <!-- / .a message -->   
                      
                      </div>
                    </div>
              </div>

              <div class="panel" style="background: transparent;" ng-show="flag_page == 2">
                    <div class="padder">      
                      <div class="streamline b-l b-info m-l-lg m-b padder-v" style="margin-left:0px;">
                       
                        <!-- .a message -->
                        <div class="m-l-lg" ng-repeat="withdraw_msg in messageList">
                          <a class="pull-left thumb-sm avatar">
                            <span class="text-muted m-l-sm pull-right">
                              <p>{{ withdraw_msg.time.split(' ')[0] }}<br>
                              {{ withdraw_msg.time.split(' ')[1] }}</p>
                            </span>
                          </a>          
                          <div class="m-l-xxl panel b-a">
                            <div class="panel-heading pos-rlt">
                              <span class="arrow left pull-up"></span>
                              <!--button class="close" style="line-height: 0;">
                                <span style="font-size:25px;">&times;</span>
                              </button-->
                              {{ withdraw_msg.message }}
                            </div>
                          </div>
                        </div>
                        <!-- / .a message -->   
                      
                      </div>
                    </div>
              </div>

              <div class="panel" style="background: transparent;" ng-show="flag_page == 3">
                    <div class="padder">      
                      <div class="streamline b-l b-info m-l-lg m-b padder-v" style="margin-left:0px;">
                       
                        <!-- .a message -->
                        <div class="m-l-lg" ng-repeat="system_msg in messageList">
                          <a class="pull-left thumb-sm avatar">
                            <span class="text-muted m-l-sm pull-right">
                              <p>{{ system_msg.time.split(' ')[0] }}<br>
                              {{ system_msg.time.split(' ')[1] }}</p>
                            </span>
                          </a>          
                          <div class="m-l-xxl panel b-a">
                            <div class="panel-heading pos-rlt">
                              <span class="arrow left pull-up"></span>
                              <!--button class="close" style="line-height: 0;">
                                <span style="font-size:25px;">&times;</span>
                              </button-->
                              {{ system_msg.message }}
                            </div>
                          </div>
                        </div>
                        <!-- / .a message -->   
                      
                      </div>
                    </div>
              </div>

              <div class="panel" style="background: transparent;" ng-show="flag_page == 4">
                    <div class="padder">      
                      <div class="streamline b-l b-info m-l-lg m-b padder-v" style="margin-left:0px;">
                       
                        <!-- .a message -->
                        <div class="m-l-lg" ng-repeat="other_msg in messageList">
                          <a class="pull-left thumb-sm avatar">
                            <span class="text-muted m-l-sm pull-right">
                              <p>{{ other_msg.time.split(' ')[0] }}<br>
                              {{ other_msg.time.split(' ')[1] }}</p>
                            </span>
                          </a>          
                          <div class="m-l-xxl panel b-a">
                            <div class="panel-heading pos-rlt">
                              <span class="arrow left pull-up"></span>
                              <!--button class="close" style="line-height: 0;">
                                <span style="font-size:25px;">&times;</span>
                              </button-->
                              {{ other_msg.message }}
                            </div>
                          </div>
                        </div>
                        <!-- / .a message -->   
                      
                      </div>
                    </div>
              </div>

              <div class="panel" style="background: transparent;" ng-show="flag_page == 5">
                    <div class="padder">      
                      <div class="streamline b-l b-info m-l-lg m-b padder-v" style="margin-left:0px; margin-bottom: 40px;">
                       
                        <!-- .a message -->
                        <div class="m-l-lg" ng-repeat="question_msg in sub_Records">
                            <div style="width: 100%;">
                                <a class="pull-left thumb-sm avatar">
                                  <span class="text-muted m-l-sm pull-right">
                                    <p>{{ question_msg.time.split(' ')[0] }}<br>
                                    {{ question_msg.time.split(' ')[1] }}</p>
                                  </span>
                                </a>
                                <div class="m-l-xxl panel b-a" ng-if="!question_msg.f_flag">
                                  <div class="panel-heading pos-rlt">
                                    <span class="arrow left pull-up"></span>
                                    <!--button class="close" style="line-height: 0;">
                                      <span style="font-size:25px;">&times;</span>
                                    </button-->
                                    {{ question_msg.message }}
                                  </div>
                                </div>
                                <div class="m-l-xxl panel b-a" ng-if="question_msg.f_flag" style="margin-bottom: 5px;">
                                  <div class="panel-heading pos-rlt">
                                    <span class="arrow left pull-up"></span>
                                    {{ question_msg.message }}
                                  </div>
                                </div>


                                <div class="m-l-xxl panel b-a" style="width: 73%; float: right; margin-left: 15px;" ng-if="question_msg.f_flag">
                                  <div class="panel-heading pos-rlt">
                                    <span class="arrow left pull-up"></span>
                                    {{ question_msg.f_content }}
                                  </div>
                                </div>
                                <span class="text-muted m-l-sm pull-right" ng-if="question_msg.f_flag">
                                  <p>{{ question_msg.f_time.split(' ')[0] }}<br>
                                  {{ question_msg.f_time.split(' ')[1] }}</p>
                                </span>
                                <span class="text-muted m-l-sm pull-right" ng-if="question_msg.f_flag">
                                  <p style="margin-top: 10px; margin-right: 25px;"><strong>{{$root.translation.MESSAGE_FEEDBACK}}:</strong></p>
                                </span>
                            </div>
                            <br style="clear: both;" ng-if="question_msg.f_flag">
                          </div>
                        <!-- / .a message -->   
                      
                      </div>
                    </div>
              </div>

              <br style="clear: both;">


                    <!-- ---------------page -->
                    <div class="row">
                        <div class="col-sm-3 hidden-xs">
                        </div>
                        <div class="col-sm-6 text-center">
                          <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" ng-change="pageChanged()"></ul>
                        </div>
                        <div class="col-sm-3 text-right text-center-xs">                
                         
                        </div>
                    </div>
                    <!-- -------------page -->

        </div>
    
      <!-- / tab -->

    </div>
     <!-- -----------------------right start--------------------------- -->
    <div class="col-lg-3" ng-show="$root.is_logged">
        
              <div class="wrapper">
         
                <div class="panel b-a" ng-show="$root.showNotices.length != 0">
                  <h4 class="font-thin padder"><a href class="text-info"><strong>Notice</strong></a></h4>
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="one_notice in showNotices">
                        <p ng-click="showNoticeDetails()"><em><a style="text-decoration: underline;">{{ one_notice.show_m }}</a></em></p>
                        <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> {{ one_notice.time }}</small>
                    </li>
                  </ul>
                </div>
                
                <div class="panel b-a">
                  <h4 class="font-thin padder"><a href class="text-info"><strong>News</strong></a></h4>
                    <ul class="list-group">
                    <li class="list-group-item" ng-repeat="one_news in showNews">
                        <p ng-click="showNewsDetails(one_news)"><em><a style="text-decoration: underline;">{{ one_news.show_m }}</a></em></p>
                        <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i>{{ one_news.time }}</small>
                    </li>
                  </ul>
                </div>
       
              </div>
         
    </div>
    <!-- ---------------------------right end---------------------------------------- -->
  </div>




</div>
  


          <div style="background: #271e1f; width: 100%; margin-top: 50px;">
            <div style="display: table; margin: 0 auto; color: #c0bebe; padding-top: 28px; padding-right: 30px; padding-left: 30px;">
              <p>{{$root.translation.ABOUT_US_TITLE}}<br/>
              {{$root.translation.ABOUT_US_CONTENT1}}<br/>
              {{$root.translation.ABOUT_US_CONTENT2}}<br/>
              {{$root.translation.ABOUT_US_CONTENT3}}<br/>
              {{$root.translation.ABOUT_US_CONTENT4}}<br/>
              {{$root.translation.ABOUT_US_CONTENT5}}<br/>
              </p>
            </div>
            <center>
              <img src="img/footerLogo.png" style="width: 100%;" />
            </center>
            <div style="display: table; margin: 0 auto; color: #c0bebe; text-align: center;">
              <p>{{$root.translation.ABOUT_US_CONTENT6}}<br/>
              {{$root.translation.ABOUT_US_CONTENT7}}<br/>
              </p>
            </div>
          </div>


</div>