<div class="app-content" >


    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">{{$root.translation.NOTICE_PAGE_TITLE}}</h1>
    </div>
    <div class="wrapper-md" ng-init="getAllNotice()">

    
        <div class="panel panel-default">
          <div class="panel-heading">
            {{$root.translation.NOTICE_PAGE_TITLE}}
            <select name="num_notice" ng-model="num_notice" ng-init="num_notice = '10'" ng-change="onChangeNotice()" style="float: right;">
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select> 
            <label style="margin-right: 10px; float: right;">{{$root.translation.MESSAGE_ITEM_PAGE}} : </label>
          </div>
    
          <div class="table-responsive">
            <table class="table table-striped b-t b-light">
              <thead>
                <tr>
           
                  <th style="width: 12%;">{{$root.translation.BILLBOARD_TABLE_NUMBER}}</th>
                  <th>{{$root.translation.BILLBOARD_TABLE_CONTENT}}</th>
                  <th style="width: 15%; text-align: center;">{{$root.translation.BILLBOARD_TABLE_DATE}}</th>
                 
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="one_notice in subNotice">
                  <td> {{ one_notice.showNumber }} </td>
                  <td><span class="text"><a ng-click="showNoticeDetails(one_notice)"><em style="color:#58666e;text-decoration: underline;">{{ one_notice.title }}</em></a></span></td>
                  <td style="text-align: center;"> {{ one_notice.time.split(' ')[0] }} </td>
                </tr>

              </tbody>
            </table>
          </div>
          <footer class="panel-footer">
            <div class="row">
              <div class="col-sm-4 hidden-xs">
                                 
              </div>
              <div class="col-sm-4 text-center">
                  <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" ng-change="onChangeNotice()"></ul>
              </div>
              <div class="col-sm-4 text-right text-center-xs">                
               
              </div>
            </div>
          </footer>
        </div>

     
    </div>
        

          <div style="background: #271e1f; width: 100%; margin-top: 50px;">
            <div style="display: table; margin: 0 auto; color: #c0bebe; padding-top: 28px; padding-right: 30px; padding-left: 30px;">
              <p>{{$root.translation.ABOUT_US_TITLE}}<br/>
              {{$root.translation.ABOUT_US_CONTENT1}}<br/>
              {{$root.translation.ABOUT_US_CONTENT2}}<br/>
              {{$root.translation.ABOUT_US_CONTENT3}}<br/>
              {{$root.translation.ABOUT_US_CONTENT4}}<br/>
              {{$root.translation.ABOUT_US_CONTENT5}}<br/>
              </p>
            </div>
            <center>
              <img src="img/footerLogo.png" style="width: 100%;" />
            </center>
            <div style="display: table; margin: 0 auto; color: #c0bebe; text-align: center;">
              <p>{{$root.translation.ABOUT_US_CONTENT6}}<br/>
              {{$root.translation.ABOUT_US_CONTENT7}}<br/>
              </p>
            </div>
          </div>


</div>