<div class="modal-body" id="modal-body">
    <form class="form-horizontal" >
        <span class="heading">
            <img src="img/logo1.png" alt="." style="max-height: 40px !important;">
            <span style="vertical-align:bottom;">&nbsp;{{ $root.translation.ALERT_DIALOG_TITLE }}</span>
            <button type="button" class="close" style="line-height: 0;" ng-click="exitMsg()">
              <span style="font-size:50px;vertical-align:text-top;">&times;</span>
            </button>
        </span>

        <div class="form-group">

          <label style="text-align: left; float: left;  font-size: 20px;">{{$root.translation.CHARGE_BANKNAME}} :&nbsp;&nbsp;&nbsp;</label>
          <label style="text-align: left; float: left;  font-size: 20px;">{{$root.chargesuccess.comment1}}</label>
          <br style="clear: both;">
          <div ng-if="$root.chargesuccess.isuser == 1">
          <label style="text-align: left; float: left;  font-size: 20px;">{{$root.translation.CHARGE_USERNAME}} :&nbsp;</label>
          <label style="text-align: left; float: left;  font-size: 20px;">{{$root.chargesuccess.comment5}}</label>
          <br style="clear: both;">
          </div>
          <label style="text-align: left; float: left;  font-size: 20px;">{{$root.translation.WITHDRAW_CARDNUMBER}} :&nbsp;&nbsp;&nbsp;</label>
          <label style="text-align: left; float: left;  font-size: 20px;">{{$root.chargesuccess.comment2}}</label>
          <br style="clear: both;">
          <br style="clear: both;">

          <label style="text-align: left; float: left;  font-size: 20px;">{{$root.translation.CHARGE_SUCCESS_GAMEMONEY}} :&nbsp;&nbsp;&nbsp;</label>
          <label style="text-align: left; float: left;  font-size: 20px;">{{$root.chargesuccess.comment3 | number}}</label>
          <br style="clear: both;">
          <label style="text-align: left; float: left;  font-size: 20px;">{{$root.translation.CHARGE_SUCCESS_REALMONEY}} :&nbsp;&nbsp;&nbsp;</label>
          <label style="text-align: left; float: left;  font-size: 20px;">{{$root.chargesuccess.comment4 | number:0}}{{$root.chargesuccess.currency}}</label>
          <br style="clear: both;">
          <br style="clear: both;">
          <label style="text-align: left; float: left;  font-size: 20px;">{{$root.translation.CHARGE_SUCCESS_COMMENT}}</label>

        </div>
          <button type="button" class="btn btn-info" style="border-radius: 10px; margin-right:50px; float: none; padding-top: 7px; background: #cbc5ad; padding-bottom: 7px; border-color: #cbc5ad;" ng-click="sendPayRequest()">{{$root.translation.CHARGE_SUCCESS_OK_BTN}}</button>
          <button type="button" class="btn btn-info" style="border-radius: 10px; float: none; padding-top: 7px; background: #cbc5ad; padding-bottom: 7px; border-color: #cbc5ad;" ng-click="exitMsg()">{{$root.translation.CHARGE_SUCCESS_CANCEL_BTN}}</button>

    </form>
</div>