<div class="modal-body" id="modal-body">
    <form class="form-horizontal" name="loginForm" ng-submit="sendLoginInfo()">
        <span class="heading">
            <img src="img/logo1.png" alt="." style="max-height: 40px !important;">
            <span style="vertical-align:bottom;">&nbsp;{{ $root.translation.LOGIN_DIALOG_TITLE }}</span>
            <button type="button" class="close" style="line-height: 0;" ng-click="exitMsg()">
                <span style="font-size:50px;vertical-align:text-top;">&times;</span>
            </button>
        </span>

        <div class="form-group">
            <input type="text" class="form-control" placeholder={{$root.translation.LOGIN_DIALOG_USERNAME}} ng-model="logininfo.u_id" required>
            <i class="fa fa-user"></i>
        </div>
        <div class="form-group help">
            <input type="password" class="form-control" placeholder= {{$root.translation.LOGIN_DIALOG_PASSWORD}} ng-model="logininfo.u_pw" required>
            <i class="fa fa-lock"></i>                  
        </div>

        <div class="form-group">                
            <span class="text"><a ng-click="gotoRegister()"><em style="color:#58666e;text-decoration: underline;">{{ $root.translation.LOGIN_DIALOG_REGISTER }}</em></a></span>
            <button type="submit" class="btn btn-default" style="font-size:16px;color:white!important;" ng-disabled="loginForm.$invalid || loginForm.$pristine">{{ $root.translation.LOGIN_DIALOG_LOGIN }}
            </button>
        </div>
    </form>
</div>