<div class="modal-body" id="modal-body">
    <form class="form-horizontal" name="pocketPass">
        <span class="heading">
            <img src="img/logo1.png" alt="." style="max-height: 40px !important;">
            <span style="vertical-align:bottom;">&nbsp;{{$root.translation.PASS_PCOKET_DIALOG_TITLE}}</span>
            <button type="button" class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
                <span style="font-size:50px;vertical-align:text-top;">&times;</span>
            </button>
        </span>

        <div class="form-group help">
            <input type="password" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" placeholder={{$root.translation.PASS_WITHDRAW_DIALOG_PASSWORD}} ng-model="pocket_pass" required>
            <i class="fa fa-lock"></i>                  
        </div>

        <div class="form-group"> 
            <!--button type="button" ng-Click="sendLoginInfo()" class="btn btn-default" data-toggle="modal"   data-dismiss="modal" data-target="#ydcheck" style="font-size:16px;color:white!important;" ng-disabled="loginForm.$invalid">Login
            </button-->
            <button type="button" ng-Click="loginPocketPass()" class="btn btn-default" style="font-size:16px;color:white!important;" ng-disabled="pocketPass.$invalid || pocketPass.$pristine">{{$root.translation.PASS_WITHDRAW_DIALOG_OK}}
            </button>
            <button type="button" ng-Click="resetPocketPassword()" class="btn btn-default" style="font-size:16px;color:white!important; float:left;">{{$root.translation.PASS_WITHDRAW_DIALOG_RESET}}
            </button>
        </div>
    </form>
</div>