<div class="modal-body" id="modal-body">
    <form class="form-horizontal" name="resetUserPass">
        <span class="heading">
            <img src="img/logo1.png" alt="." style="max-height: 40px !important;">
            <span style="vertical-align:bottom;">&nbsp;{{$root.translation.RESET_USER_PASSWORD_TITLE}}</span>
            <button type="button" class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
                <span style="font-size:50px;vertical-align:text-top;">&times;</span>
            </button>
        </span>

        <div class="form-group">
            <input type="password" class="form-control" placeholder={{$root.translation.RESET_USER_PASSWORD_OLD}} ng-model="reset_userpass_old" required>
            <i class="fa fa-lock"></i>   
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder={{$root.translation.RESET_USER_PASSWORD_NEW}} ng-model="reset_userpass_first" required>
            <i class="fa fa-lock"></i>   
        </div>
        <div class="form-group help">
            <input type="password" class="form-control" placeholder={{$root.translation.RESET_USER_PASSWORD_CONFIRM}} ng-model="reset_userpass_second" required>
            <i class="fa fa-lock"></i>
        </div>

        <div class="form-group"> 
            <button type="button" ng-Click="resetUserPassFunc()" class="btn btn-default" style="font-size:16px;color:white!important;" ng-disabled="resetUserPass.$invalid || resetUserPass.$pristine">{{$root.translation.RESET_USER_EMAIL_OK}}
            </button>
        </div>
    </form>
</div>