<div class="modal-body" id="modal-body">
    <form class="form-horizontal" name="resetUserPass">
        <span class="heading">
            <img src="img/logo1.png" alt="." style="max-height: 40px !important;">
            <span style="vertical-align:bottom;">&nbsp;{{$root.translation.RESET_LOGIN_IP_TITLE}}</span>
            <button type="button" class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
                <span style="font-size:50px;vertical-align:text-top;">&times;</span>
            </button>
        </span>

        <div class="form-group">
            <label style="font-size:22px;font-weight: bold;">{{$root.translation.RESET_LOGIN_IP_CURRENT}} : {{$root.userInfo.login_ip}}</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-pattern='/^([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})$/' placeholder={{$root.translation.RESET_LOGIN_IP_NEW}} ng-model="reset_loginip" required>
            <i class="fa fa-lock"></i>   
        </div>

        <div class="form-group"> 
            <button type="button" ng-Click="resetUserInfoFunc()" class="btn btn-default" style="font-size:16px;color:white!important;" ng-disabled="resetUserPass.$invalid || resetUserPass.$pristine">{{$root.translation.RESET_USER_EMAIL_OK}}
            </button>
        </div>
    </form>
</div>